
.mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s ease;
    &__focus{
        background: var(--focus-bg);
        span{
            color: var(--focus-span);
        }
        .control_btn{
            button{
                background: rgba(255, 76, 76, 0.15);
                &:nth-child(2){
                    background: rgba(255, 76, 76, 0.71);
                    margin: 0 16px;
                }
                svg{
                    fill: var(--focus-span);
                }
            }
        }
    }
    &__shortBreak{
        background: var(--short-bg);
        span{
            color: var(--short-span);
        }
        .control_btn{
            button{
                background: rgba(77, 218, 110, 0.15);
                &:nth-child(2){
                    background: rgba(77, 218, 110, 0.62);
                    margin: 0 16px;
                }
                svg{
                    fill: var(--short-span);
                }
            }
        }
    }
    &__longBreak{
        background: var(--long-bg);
        span{
            color: var(--long-span);
        }
        .control_btn{
            button{
                background: rgba(76, 172, 255, 0.15);
                &:nth-child(2){
                    background: rgba(76, 172, 255, 0.62);
                    margin: 0 16px;
                }
                svg{
                    fill: var(--long-span);
                }
            }
        }
    }
}



.dial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    span{
        font-style: normal;
        font-weight: 800;
        font-size: 256px;
        line-height: 85%;
    }
}
.pause__time{
    span{
        font-weight: 200;
    }
}
.control_btn{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        transition: 0.3s ease;
        &:hover{
            transform: translateY(-2px);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.039), 0px 5.5px 3px rgba(0, 0, 0, 0.19);
        }
        &:nth-child(2){
            margin: 0 16px;
        }
        &:focus-visible {
            outline: -webkit-focus-ring-color auto 0px;
        }
    }
}