.plate{
    margin: 0 auto;
    background: transparent;
    border-radius: 9999px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 32px;
    label{
        margin-left: 9px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
}
.focus{
    background: rgba(255, 76, 76, 0.15);
    color: var(--focus-span);
    border: 2px solid var(--focus-span);
    svg{
        path{
            fill: var(--focus-span);
        }
    }
}
.shortBreak{
    background: rgba(77, 218, 110, 0.15);
    border: 2px solid var(--short-span);
    color: var(--short-span);
    svg{
        path{
            fill: var(--short-span);
        }
    }
}
.longBreak{
    background: rgba(76, 172, 255, 0.15);
    border: 2px solid var(--long-span);
    color: var(--long-span);
    svg{
        path{
            fill: var(--long-span);
        }
    }
}